{% extends "base.html.twig" %}

{% block title %} Articles {% endblock %}

{% block body %}
    <h1 class="center">Articles</h1>

    <main class="container col">

        <a id="btnAddUser" href="../../?controller=article&action=add" class="btn-floating btn-large waves-effect waves-light red #0091ea light-blue accent-4"><i class="fas fa-plus"></i></a>

        {% for article in articles %}
            <div class="col s12 m8 offset-m2 l6 offset-l3 ">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <a id="btnUpdateArticle" href="../../?controller=article&action=update&id={{ article.id }}" class="btn-floating btn-large waves-effect waves-light red #ffa000 amber darken-2"><i class="far fa-edit"></i></a>
                    <a id="btnDeleteArticle" href="../../?controller=article&action=delete&id={{ article.id }}" class="btn-floating btn-large waves-effect waves-light red #ff3d00 deep-orange accent-3"><i class="far fa-trash-alt"></i></a>
                    <a id="btnAddUserArticle" href="../../?controller=article&action=applyUser&id={{ article.id }}" class="btn-floating btn-large waves-effect waves-light red #ba68c8 purple lighten-2"><i class="fas fa-user-plus"></i></a>

                    <h3 class="center #9e9e9e grey-text">{{ article.title|title }}</h3>
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <img src="{{ article.picture }}" alt="" class="responsive-img">
                        </div>
                        <div class="col s10">
                  <p class="black-text size_20"> {{ article.content }} </p>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Il n'y a pas encore d'articles de postés !</p>

        {% endfor %}

    </main>
{% endblock %}




